.container {
  width: 800px;
  margin: 0 auto;
}

.container h1, .container p, .container a {
  color: white;
}

.container h1 {
  font: 32px "Poppins" 700;
}

.container p {
  font: 20px "Open Sans";
  margin-bottom: 50px;
  opacity: .5;
}
